<table border="0" cellpadding="0" cellspacing="0" style="width: 100%; background: rgb(145, 143, 143)">
  <tr>
    <td style="text-align: center">
      <img
        class="logo"
        src="https://res.cloudinary.com/dqzhjmrwo/image/upload/v1625884471/qxizuz3ojpuowhpbefzb.jpg"
        alt="ショップロゴ"
      />
      <span class="logo-title"><span style="color: aqua">Yuruhuwa</span></span>
    </td>
  </tr>
</table>
