.extract {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  p {
    margin: 10px;
  }
  .searchStatus {
    color: red;
  }
}

.searchBtn {
  display: block;
  @media screen and (min-width: 800px) {
    display: none;
  }
}
