@import "config";
.root {
  width: 136px;
  height: 100%;
  border: 1px solid $Ssecondary;
  padding: 10px;
  border-radius: 8px;
  .imgWrapper {
    position: relative;
    text-align: center;
    img {
      width: 116px;
      height: 116px;
      object-fit: cover;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .label {
      position: absolute;
      border-radius: 50%;
      display: inline-block;
      color: white;
      line-height: 2rem;
      width: 2rem;
      height: 2rem;
      font-size: 0.8rem;
      user-select: none;
    }
    .left {
      top: -0.5rem;
      right: 1.5rem;
    }
    .right {
      top: -0.5rem;
      right: -10%;
    }
    .new {
      background: orange;
    }
    .hot {
      background: red;
    }
  }
  p {
    margin: 5px 0;
  }
  .link {
    text-align: left;
  }
  .name {
    margin: 5px;
    font-size: 0.9rem;
    &:hover {
      opacity: 0.8rem;
    }
  }
  .price {
    color: red;
    text-align: right;
    font-size: 0.8rem;
  }
  .height {
    text-align: right;
    font-size: 0.8rem;
  }
  .icon {
    text-align: center;
    cursor: pointer;
  }
  .like {
    color: red;
  }
  .trash {
    
  }
}

@include mq(sm) {
  .root {
    width: 160px;
    height: 100%;
    border: 1px solid $Ssecondary;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    img {
      width: 140px;
      height: 140px;
      object-fit: cover;
    }
  }
}
