@import "config";

.title {
  text-align: center;
  color: $Fprimary;
}

.border {
  border-bottom: 1px solid $Fprimary;
}

.totalWrapper {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.message {
  text-align: center;
  font-size: 2rem;
}
