@import "config";
*,
*::before,
*::after {
  box-sizing: border-box;
}

*::selection {
  background-color: darken($color: $Ssecondary, $amount: 10);
}

body {
  font-family: $Ffirst;
  min-height: 100vh;
  height: 100%;
  background-color: $Sthirdry;
}

.u-dispaly--none {
  display: none;
}

// スペース
$space: (
  sm: 12px,
  md: 20px,
  lg: 28px,
  xl: 36px,
);

// スマホ
@each $size, $value in $space {
  html {
    font-size: 12px;
  }

  .module-spacer--#{$size} {
    height: $value;
  }
}

// タブレット
@include mq(sm) {
  html {
    font-size: 14px;
  }

  @each $size, $value in $space {
    .module-spacer--#{$size} {
      height: $value * 1.2;
    }
  }
}

// PC
@include mq(lg) {
  html {
    font-size: 16px;
  }

  @each $size, $value in $space {
    .module-spacer--#{$size} {
      height: $value * 1.4;
    }
  }
}

.u-display-flex {
  display: flex;
}

.u-display-block {
  display: block;
}

.u-display-inline-block {
  display: inline-block;
}

.u-text--left {
  text-align: left;
}

.u-text--right {
  text-align: right;
}

.u-text--center {
  text-align: center;
}
