@import "config";

.root {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999;
}

.ui {
  &.menu {
    background: linear-gradient(
      135deg,
      rgb(255, 0, 0),
      rgb(255, 20, 172),
      rgb(90, 40, 255),
      rgb(60, 120, 255),
      rgb(80, 255, 237),
      rgb(100, 255, 169),
      rgb(170, 255, 120),
      rgb(221, 255, 140),
      rgb(255, 236, 160),
      rgb(255, 208, 180),
      rgb(255, 208, 200),
      #ff0000
    );
    border-radius: 0;
    margin: 0;
  }
}

.icon {
  display: none;
  margin: 0 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  @media screen and (min-width: 400px) {
    display: block;
  }
}

.barsIcon {
  display: block;
  margin: 0 30px;
  font-size: 2rem;
}

.numberBatch {
  display: none;
  vertical-align: middle;
  text-align: center;
  font-size: 1rem;
  line-height: 1.3rem;
  font-weight: bold;
  width: 1.3rem;
  height: 1.3rem;
  background: red;
  color: white;
  position: absolute;
  border-radius: 50%;
  bottom: 15px;
  right: 0;
  cursor: pointer;
  @media screen and (min-width: 400px) {
    display: inline-block;
  }
}

.search {
  display: none;
}
@media screen and (min-width: 700px) {
  .search {
    display: inline-block;
  }
}
