// ============================================================
//  基本設定
// ============================================================

// フォント ---------------------------------------------------
$Ffirst: "メイリオ", "ヒラギノ角ゴ", "ヒラギノ角ゴ ProN";

// $secondary: ;

// 幅 ----------------------------------------------------------
$WPrimary: 1000px;

// サイトカラー ------------------------------------------------
$Sprimary: #ffafcc;
$Ssecondary: aqua;
$Sthirdry: #cdb4db;

// フォントカラー ------------------------------------------------
$Fprimary: #444;

// 高さ
$Zloading: 10000;
$Zsidebar: 20000;

// リンクカラー --------------------------------------------------

// ブレックポイント ---------------------------------------------
$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 960px)",
  lg: "screen and (min-width: 1280px)",
  xl: "screen and (min-width: 1920px)",
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
} ;
