@import "config";

.root {
  text-align: center;
  margin: 0 auto;
  .border {
    border-bottom: 1px solid $Fprimary;
  }
  .pagenation {
    width: 100%;
    text-align: center;
  }
  .noProductWrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
  }
}
