@import "config";

.root {
  display: block;
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 50px;
  }
}

.sideBar {
  display: none;
  @media screen and (min-width: 800px) {
    display: block;
  }
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 10px 10px;
  justify-content: center;
  justify-items: center;
}

.pagenation {
  width: 100%;
  text-align: center;
}

@include mq(sm) {
  .productsList {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
